<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.woet.android.countdown">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WidgetListActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".SettingActivity"
                  android:label="Setting"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="PASS_DATE_AND_TIME"/>
            </intent-filter>
        </activity>
        <receiver android:name=".WidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="CLICK_SETTING" />
            </intent-filter>
        </receiver>
    </application>

</manifest>